<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Security Example</title>
</head>
<body>

<h2>Welcome to the Spring Security Example</h2>

<!-- 로그인 폼 -->
<form th:action="@{/login}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
    </div>
    <button type="submit">Login</button>
    <a href="/oauth2/authorization/kakao">Kakao Login</a>
</form>

<!-- 에러 메시지 출력 -->
<div th:if="${param.error}">
    <p>Invalid username and password.</p>
</div>

<!-- 로그아웃 성공 메시지 출력 -->
<div th:if="${param.logout}">
    <p>You have been logged out successfully.</p>
</div>

<!--&lt;!&ndash; 로그인 사용자에 따라 메뉴 출력 &ndash;&gt;-->
<!--<div th:if="${#authorization.expression('isAuthenticated()')}">-->
<!--    <p>You are logged in as <span th:text="${#authentication.name}"></span>.</p>-->
<!--    <p th:if="${#authorization.expression('hasRole(''USER'')}">You have user role.</p>-->
<!--    <p th:if="${#authorization.expression('hasRole(''ADMIN'')}">You have admin role.</p>-->
<!--    <a th:href="@{/logout}">Logout</a>-->
<!--</div>-->

</body>
</html>